<% include header %>
<body>
<div class="container">
    <form action="/contact">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" pattern="[A-Za-z]*"placeholder="Your name.." required>
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname"pattern="[A-Za-z]*" placeholder="Your last name.." required >
      <label for="email">email Id</label>
      <input type="email" id="email" placeholder="enter your email" required>
      
      
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
  <a href="#"><i class="fa fa-cloud" style="font-size:48px;color:black" id=""><br>GitHub</i></a>
  <a href="#"><i class="fa fa-archive" style="font-size:48px;color:black" id=""><br>BitBucket</i></a>
  <a href="#"><i class="fa fa-paper-plane" style="font-size:48px;color:black" id=""><br>LinkedIn</i></a>
  
