<% include header %>

<img class="img-circle" src="/images/my.jpg" alt=Home height="200" width="200">

  <article class="intro">
   <section>
   <header class="section-header">
    <h2>Present</h2>
	</header>
      <p>I am a new member of fall 2018 batch at Northwest Missouri State University working on my master's in Applied Computer Science.</p>
   </section>
   <section id="past-section">
   <header class="section-header">
    <h2>Background</h2>
	</header>
      <p>I am from India, Telangana state. I recently completed my under graduation in Compter Science and Engineering from CVR College of Engineering affiliated by JNTUH .</p>
   </section>
   <section id="future-section">
	<header class="section-header"><h2>Plans</h2></header>
      <p>I would like to see myself as a software developer after my master's and I would like to gain some knowledge in angular js and node js.</p>
   </section>
   <section>
    <header class="section-header"><h2>Skills</h2></header>
	     <p><ul>
         <li>Good at Java programming</li><br>
         <li>Good at designing web apps</li>
       </ul></p>
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/vEROU2XtPR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   </section>
  </article>

  <aside class="aside-header">
     <header class="section-header"><h2>Interest</h2></header>
	    <p>Badminton and Dancing are my hobbies</p>
  </aside>
  </main>

  <% include footer %>
  <p>Posted By: Divyaharshini Bheemireddy</p>
    <p>Contact Information: <a href="mailto:divyaharshinireddy@gmail.com">divyaharshinireddy@gmail.com</a>.</p>
<% include footer%>
